<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="static/login.css">
</head>
<body>
  
    <div class="container">
      <h1 class"textt">Welcome To CodingKaro</h1>
        <h3 class="textt">Register Here</h3>
        <form class ="form-control" method="POST" action="">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-control">
                {{field}}

                <label>{{field.label}}</label>
            </div>
            {% endfor %}
            {% comment %} <input type="submit" class="btn form-control" name="register"> {% endcomment %}
            <button class="btn" type="submit">Register</button>
            <p class="text">Already Have an Account
                <a href="/login">&nbsp Login</a>
            </p>
        </form>
        <ul style="font-size:0.5rem; margin:0" class"hint">
            <li>Password can’t be too similar to your other personal information.</li>
            <li>Password must contain at least 8 characters.</li>
            <li>Password can’t be a commonly used password.</li>
            <li>Password can’t be entirely numeric.</li>
        </ul>
    </div>
    
    <script src="static/login.js"></script>
</body>
</html>

