{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shypt Solution</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <nav class="nav">
        <div class="container">
            <h1 class="logo"><a href="/home">Welcome, {{user_email}}</a></h1>
            <ul>
                <li><a href="/home" title="Home"><i class="material-icons">home</i></a></li>
                <li><a href="/leaderboard" title="Leaderboard"><i class="material-icons">format_list_numbered</i></a></li>
                <li><a href="/problem/{{problem_id}}" title="Problem"><i class="material-icons">description</i></a></li>
                <li><a href="/submissions/{{problem_id}}" type="button" title="All Submissions"><i class="material-icons">people</i></a></li>
                <li><a href="/post-discussion/{{problem_id}}" type="button" title="Start Discussion"><i class="material-icons">create</i></a></li>
                <li><a href="/mysubmissions/{{problem_id}}" type="button" title="My Submissions"><i class="material-icons">person</i></a></li>
                <li><a href="/logout"><i class="material-icons" title="Logout">exit_to_app</i></a></li>
            </ul>

        </div>
    </nav>

    <section>
        <div class="questions">
            <h2>Discussion of The Problem {{problem_name}}</h2>
            {% for discuss in discussions  %}
            <div class="home">
                <div class="home-item click" id="question" style="cursor: context-menu;">
                    <a  class="home-link" style="font-size:1.3rem">{{discuss.title}} by {{discuss.user_name}}
                        <i class="material-icons add click" id="add">keyboard_arrow_down</i>
                        <i class="material-icons click" id="remove">keyboard_arrow_up</i>
                    </a>
                    <div class="answer solve" style="cursor: pointer;" id="uni">
                        <p style="font-size:1.1rem"> <pre style="white-space: pre-wrap;">{{discuss.discuss}}</pre></p>
                        
                       
                    </div>
                   
                </div>
                
            </div>
            
            {% endfor %}
            



        </div>

    </section>
    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>
    <script src="{% static 'home.js' %}"></script>
</body>

</html>