{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shypt Solution</title>
    <link rel="stylesheet" href="static/home.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <nav class="nav">
        <div class="container">
            <h1 class="logo"><a href="/home">Welcome, {{user_email}}</a></h1>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>

        </div>
    </nav>

    <section>
        <div class="questions">
            {% for problem in response  %}
            <div class="home">
                <div class="home-item" id="question">
                    <a href="#" class="home-link" style="font-size:1.3rem">{{problem.problem_name}}
                        <i class="material-icons add" id="add">keyboard_arrow_down</i>
                        <i class="material-icons" id="remove">keyboard_arrow_up</i>
                    </a>
                    <div class="answer" id="uni">
                        <p style="font-size:1.1rem"> {{problem.description}}</p>
                        <p style="font-size:0.9rem">Tags: {{problem.tags}}<br> Level: {{problem.difficulty}} </p>
                    </div>
                </div>

            </div>
            {% endfor %}
            



        </div>

    </section>

    <script src="static/home.js"></script>
</body>

</html>