{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="{% static 'leaderboard.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

   <nav class="nav">
        <div class="container">
            <h1 class="logo"><a href="/home">Welcome, {{user_email}}</a></h1>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>

        </div>
    </nav> 

    <div class="container1">
        <h2>Leaderboard</h2>
        <ul class="responsive-table">
          <li class="table-header">
            <div class="col col-1">User Name</div>
            <div class="col col-2">Total Score</div>
          </li>
          {% for leader in leaders %}
          <li class="table-row">
            <div class="col col-1" >{{leader.user_name}}</div>
            <div class="col col-2" >{{leader.total_score}}</div>
          </li>
          {% endfor %}
        </ul>
      </div>

      
   
    <script src="{% static 'home.js' %}"></script>
    <script>
      if ( window.history.replaceState ) {
          window.history.replaceState( null, null, window.location.href );
      }
  </script>
</body>

</html>