{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solve</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
   <nav class="nav">
        <div class="container">
            <h1 class="logo"><a href="/home">Welcome, {{user_email}}</a></h1>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li><a href="/submissions/{{problem_id}}" type="button">All Submissions</a></li>
                <li><a href="/discussion/{{problem_id}}" type="button">Discuss</a></li>
                <li><a href="/mysubmissions/{{problem_id}}" type="button">My Submissions</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>

        </div>
    </nav> 

   <section>
        <div class="questions">
            {% for problem in response  %}
            <div class="home active">
                <div class="home-item" id="question">
                    <a  class="home-link" style="font-size:1.3rem">{{problem.problem_name}}
                    </a>
                    <div class="answer">
                        <p style="font-size:1.1rem"><pre style="white-space: pre-wrap;"> {{problem.description}}</pre></p><br>
                        <p style="font-size:0.9rem">Tags: {{problem.tags}}<br> Level: {{problem.difficulty}} </p>
                    </div>
                   
                </div>
                
            </div>
            
            
            



        </div>

    </section> 
    <div class="last">
        <form method="POST"  action="/discussion/{{problem.problem_id}}">
            {% csrf_token %}
        <textarea  id="textarea" placeholder="Title" name="title"></textarea>
        <textarea  id="textarea" placeholder="Write Your Post Here" name="discuss_by_user"></textarea>

        <div class="btn">
            <button id="clear" type="submit">Submit</button>
        </div> 
    </form>
    {% comment %} <div class="btn">
    <button id="clear" type="button" onClick="location.href='submit/{{problem.problem_id}}'">Show Leaderboard</button>
    </div> {% endcomment %}
</div>
    {% endfor %}
    <script src="{% static 'home.js' %}"></script>
    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>
</body>

</html>